# This .env.example file is a template for the environment variables needed to run the application.
# It is safe to commit to version control (Github), but do not include sensitive information.

# Posthog Configuration
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST=
